<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    
    <div class="col-md-6 ">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/u.jpg" alt="...">
              <h5 class="title">{{user?.userName}}</h5>
            </a>
            <p class="description">
                {{user?.role[0].roleName}}
            </p>
          </div>
          <p class="description text-center">
            "{{user?.userFName}}
            <br> {{user?.userLName}}
            <br> {{user?.email}}
          </p>
        </div>
        <hr>
        <div class="button-container">
          <!-- <button  class="btn btn-neutral   btn-lg" >
            Modifier Profile
          </button> -->
        </div>
      </div>
    </div>


         
  </div>
 </div>
   
  