<!-- filter-color="orange" -->
<div class="page-header login-page " >
    <div class="page-header-image" style="background-image:url(../../../assets/img/ps.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" [formGroup]="fromrp" >
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <!-- <br>
                            <br>

                            <i class="fa fa-lock fa-4x"></i> -->
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email adresse..." 
                        formControlName="email" name="email" id="email"
                        (focus)="focus=true" (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                        </div>
                      </div>
                    </div>
                    <div class="footer text-center">
                        <input value="Send Email"  (click)="sendEmail()" type="submit" class="btn btn-primary btn-round btn-lg btn-block" />
                    </div>
                    <div class="pull-center">
                         <h6>
                            <a routerLink="/auth/log" class="link">Retour pour se connecter </a>
                        </h6>
                    </div>
                    
                    <div >
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
