<!-- filter-color="orange" -->
<div class="wrapper">
  <div class="page-header clear-filter" >
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/bg.png');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">404.  </h1>
              <!-- <h3>Welcome to home Page.</h3> -->
          </div>
          
      </div>
  </div>

     
   
    </div>
