<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Mail traiter</h4>
          <form class="col-md-4">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search... "  (ngModelChange)="search($event)" [ngModel]="key" name="key" >
              <div class="input-group-append">
                
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  sujet
                </th>
                <th>
                  adresse email
                </th>
                <th class="text-left">
                  Traitement RH 
                </th>
                <th class="text-left">
                  Etat 
                </th>
                <th class="text-left">
                  Traitement Tech
                </th>
                <th class="text-left">
                  Etat 
                </th>     
                <th class="text-left">
                  traitement directeur rh 
                </th>
                <th class="text-left">
                  Etat 
                </th>    
              </thead>
              <tbody *ngFor="let mt of mailtraiter">
                <tr>
                  <td class="col-md-2">
                    {{mt.subject}}
                  </td>
                  <td class="col-md-2">
                    {{mt.senderAddress}}
                  </td>
                  <td>
                    {{mt.tr1.generatedby}}
                  </td>
                  <td *ngIf="mt?.tr1?.etat==null">
                    <span class="badge badge-warning"> non traiter </span>
                  </td>
                  <td *ngIf="mt?.tr1?.etat!=null && mt?.tr1?.etat== 'accepter' ">
                    <span class="badge badge-success"> accepter </span>
                  </td>
                  <td *ngIf="mt?.tr1?.etat!=null && mt?.tr1?.etat== 'refuser' ">
                    <span class="badge badge-danger"> refuser </span>
                  </td>
                  <td>
                    {{mt?.tr2?.generatedby}}
                  </td>
                <td *ngIf="mt?.tr2?.etat==null">
                 <span class="badge badge-warning"> non traiter </span>
               </td>
               <td *ngIf="mt?.tr2?.etat!=null && mt?.tr2?.etat== 'accepter' ">
                 <span class="badge badge-success"> accepter </span>
               </td>
               <td *ngIf="mt?.tr2?.etat!=null && mt?.tr2?.etat== 'refuser' ">
                 <span class="badge badge-danger"> refuser </span>
               </td>
               <td>
                {{mt?.tr3?.generatedby}}
              </td>
            <td *ngIf="mt?.tr3?.etat==null">
             <span class="badge badge-warning"> non traiter </span>
           </td>
           <td *ngIf="mt?.tr3?.etat!=null && mt?.tr3?.etat== 'accepter' ">
             <span class="badge badge-success"> accepter </span>
           </td>
           <td *ngIf="mt?.tr3?.etat!=null && mt?.tr3?.etat== 'refuser' ">
             <span class="badge badge-danger"> refuser </span>
           </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination  
            [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>