<div class="panel-header panel-header-sm" >
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title"> liste des emails</h2>
          <form class="col-md-4">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search... "  (ngModelChange)="search($event)" [ngModel]="key" name="key" >
              <div class="input-group-append">
                
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Adresse email
                </th>
                <th>
                  Sujets
                </th>
                <th>
                  Status
                </th>
              </thead>
              <tbody >
                <tr (click)="DetailsMail(mail.idMail)" *ngFor="let mail of allmail "> 
                  <td class="col-md-3">
                    {{mail.senderAddress}}
                  </td>
                  <td class="col-md-3">
                    {{mail.subject}}
                  </td>
                  <td  *ngIf="mail.status=='nontraiter'">
                       <span class="badge badge-warning" style="font-size: 15px;"  >Non traiter</span>
                   </td>
                 <td  *ngIf="mail.status=='encours'">
                      <span class="badge badge-info" style="font-size: 15px;" >encours..</span>
                  </td>
                  <td  *ngIf="mail.status=='traiter' "  >
                      <span class="badge badge-success" style="font-size: 15px;" >traiter.....</span>
                        </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination  
            [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>





  <
  
