<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> liste des mails traiter techniquement:</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Traitement RH
                </th>
                <th>
                  Note
                </th>
                <th>
                  AdressEmail
                </th>
                <th>
                  Sujet
                </th>
                <th>
                  etat
                </th>
                
              </thead>
              <tbody >
                <tr (click)="DetailsMail(lm.idMail)" *ngFor="let lm of allt1 "> 
                  <td>
                    {{lm?.tr1?.generatedby}}
                  </td>
                  <td>
                    {{lm?.tr1?.note}}
                  </td>
                  <td>
                    {{lm?.senderAddress}}
                  </td>
                  <td>
                    {{lm?.subject}}
                  </td>
                   <td *ngIf="lm?.tr2?.etat==null">
                    <span class="badge badge-warning"> non traiter </span>
                  </td>
                  <td *ngIf="lm?.tr2?.etat!=null && lm?.tr2?.etat== 'accepter' ">
                    <span class="badge badge-success"> accepter </span>
                  </td>
                  <td *ngIf="lm?.tr2?.etat!=null && lm?.tr2?.etat== 'refuser' ">
                    <span class="badge badge-danger"> refuser </span>
                  </td>
                </tr>
               
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>