
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/angular2-logo-white.png"/>
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
       Workflow
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <div  class="d-flex justify-content-center" style="color: white;">
            <div role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <li   routerLinkActive="active"  nav-item>
                <i class="now-ui-icons "></i>
<a href="">all mail</a>                <p></p>
            
        </li>
        
    </ul>
</div>
