
<div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-img">
          <img src="../../../assets/img/tr.jpg"/>
      </div>
    </a>
    <a class="simple-text logo-normal">
       TrituxGroup
    </a>
</div>
<div class="sidebar-wrapper" >
    <ul class="nav">
        <div  class="d-flex justify-content-center" style="color: white;">
            <div role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <li   routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="!loading" [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            
        </li>
    </ul>
