<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">  Liste des Roles</h2>
         
        </div>
        <div class="card-body">
          <button id="a"
          (click)="ajouterRole()"
          class="btn btn-primary" style="background-color:green"  >Ajouter un Role</button>

          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom de role
                </th>
                <th>
                  Description
                </th>
                <th>
                  Actions
                </th>
               
              </thead>
              <tbody>
                <tr *ngFor="let row of allrole ">
                  <td>
                        {{row.roleName}}
                  </td>
                  <td>
                    {{row.roleDescription}}

                  </td>
               <button class="btn btn-danger"  style="background-color:red"  (click)="deleteRole(row)" ><i class="now-ui-icons ui-1_simple-remove"></i></button>   
                </tr>
              </tbody>
            </table>
          
          </div>
        </div>
      </div>
    </div>
   
        