/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
#spinner{
    align-items: center;
    justify-content: space-between;
    width: 15px;
    height: 15px;
}