<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Mails encours</h4>
          <form class="col-md-4">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search... "  (ngModelChange)="search($event)" [ngModel]="key" name="key" >
              <div class="input-group-append">
                
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Subject
                </th>
                <th>
                  Note
                </th>
                <th>
                  Etat
                </th>
                
              </thead>
              <tbody *ngFor="let m of mailencours ">
                <tr>
                  <td>
                    {{m.subject}}
                  </td>
                  <td>
                    {{m.senderAddress}}
                  </td>
                  <td>
                    {{m.cc}}
                  </td>               
                </tr>       
              </tbody>
            </table>
            <ngb-pagination  
            [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>